* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #23CCA5;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 150px auto;

    h1 {
        text-align: center;
    }

    .info-text {
        width: 60%;
        margin: 20px auto;
        text-align: center;
    }

    .input-container, .output-container {
        margin: 50px auto;
        text-align: center;
        position: relative;

        form {
            text-align: center;
        }
    }

    .output-container {
        font-size: 30px;

        .refund-percentage {
            margin-bottom: 20px;
            display: none;
            font-size: 20px;
        }
        
        .outer-circle {
            border: solid 3px;
            margin: auto;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .title {
                font-size: 35px;
                padding: 45px;
                font-weight: 700;
            }
            .text {
                font-size: 17px;
            }
            .output-price {
                font-size: 60px;
            }
        }
    }

    .circle-container {
        width: 220px;
        height: 220px;
        position: relative;
        display: none;

        .outer {
            width: 220px;
            height: 220px;
            border-radius: 50%;
            padding: 20px;
        }
        .inner {
            height: 180px;
            width: 180px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        circle {
            fill: none;
            // stroke: url(#GradientColor);
            stroke-width: 20px;
            stroke-dasharray: 628;
            stroke-dashoffset: 628;
            transform: rotate(-90deg) translate(-160px, 0px);
            transition: stroke-dashoffset 2s;
        }
        #first-circle {
            stroke: #FAFAFA;
            stroke-dasharray: 628;
            stroke-dashoffset: 628;
        }
        #second-circle {
            stroke: #e0392d;
            stroke-dasharray: 628;
            stroke-dashoffset: 0;
            transform: rotate(-90deg) translate(-160px, 0px);
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    #select-input {
        font-size: 18px;
        max-width: 500px;
        margin: auto;

        .btn-group {
            display: none;
            justify-content: center;
            margin: 20px auto;
            position: absolute;
            top: -80px;
            left: 0;
            right: 0;

            &:hover {
                display: flex;
            }

            &.active {
                display: flex;
            }

            button {
                background-color: #fff;
                border: 1px solid #fff;
                padding: 10px 24px;
                cursor: pointer;

                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
        }

        .krankenkassen-liste {
            display: none;
            list-style: none;
            background-color: #fff;
            width: 50%;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: -260px;
            color: #000;
            text-align: initial;
            padding: 10px;
            margin-bottom: 10px;

            li {
                cursor: pointer;
            }
        }

        .select-box-wrapper {
            width: 70%;
            position: relative;
            justify-content: center;
            margin: auto;

            .fa {
                color: #000;
                position: absolute;
                left: 10px;
                top: 7px;
            }

            #text-input {
                padding: 5px 40px;
                text-align: center;
                border-radius: 15px;
                border: 3px solid #fff;
                display: inline-block;
                width: 100%;
            }

            /*.select-box {
                padding: 5px 40px;
                text-align: center;
                border-radius: 15px;
                border: 3px solid #fff;
                display: inline-block;
                width: 100%;

                option {
                    visibility: hidden;
                    display: none;
                }
            }*/
        }
    }
}
